/* пример адаптации + предложение того как организовать медиазапросы */
@media (max-width: 991px) {
  .header {
    --nav-btns-font-size: 16px;
    --nav-logo-font-size: 32px;
    --header-top-paddings: 18px;

    --header-icons-size: 26px;

    .container {
      justify-content: center;
      padding: 0 15px;
    }

    &__btns-container {
      flex-direction: column;
      --nav-btn-container-side-padding: 0;
    }

    &__nav {
      --nav-btns-container-size: 180px;
      max-width: none;
      height: 100%;
      max-height: var(--nav-btns-container-size);
      justify-content: space-between;
      margin-bottom: 35px;

      li {
        width: min-content;
      }
    }

    &__icons {
      --max-width: none;
      --header-icons-size: 20px;

      p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
      }

      .icons-container {
        max-width: 140px;

        .icons-container__logo img {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__logo {
      margin: 0;
    }
  }
}
