@import "@/src/app/shortClasses.scss";

.header {
  --nav-btns-font-size: 24px;
  --nav-logo-font-size: 54px;

  --nav-btns-container-size: 443px;
  --nav-btn-container-side-padding: 15px;

  --header-bg-color: var(--black-half);
  --header-top-paddings: 15px;
  --header-border-bottom: 1px solid var(--white-half);

  --header-icons-size: 32px;

  padding: var(--header-top-paddings) 0;
  font-size: var(--nav-btns-font-size);
  background-color: var(--header-bg-color);
  border-bottom: var(--header-border-bottom);

  .container {
    align-items: center;
    padding: 0;
  }

  &__logo {
    font-size: var(--nav-logo-font-size);
    font-family: var(--titles-font);
    text-transform: uppercase;
    cursor: pointer;
  }

  &__nav {
    text-wrap: nowrap;
    li {
      transition: 0.3s;
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 5px);
        width: 0;
        left: 50%;
        display: block;
        transform: translate(-50%, 0);
        background-color: var(--primary-color);
        height: 1px;
        transition: 0.3s;
      }

      &:hover {
        color: var(--primary-color);

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__btns-container {
    --max-width: calc(var(--nav-btn-container-side-padding) * 2 + var(--nav-btns-container-size));
    @include width(100%, var(--max-width));
    padding: 0 var(--nav-btn-container-side-padding);

    .icons-container {
      width: 100%;
      max-width: calc(var(--nav-btns-container-size) - 52.55px * 2);

      .icons-container__logo {
        width: var(--header-icons-size);
        height: var(--header-icons-size);
        background-color: var(--grey);
        cursor: pointer;
      }
    }
  }
}
