@import "@/src/app/shortClasses.scss";

.header {
  --nav-btns-font-size: 24px;
  --nav-logo-font-size: 54px;

  --nav-btns-container-size: 443px;
  --nav-btn-container-side-padding: 15px;

  --header-bg-color: var(--black-half);
  --header-top-paddings: 15px;
  --header-border-bottom: 1px solid var(--white-half);

  --header-icons-size: 32px;

  padding: var(--header-top-paddings) 0;
  font-size: var(--nav-btns-font-size);
  background-color: var(--header-bg-color);
  border-bottom: var(--header-border-bottom);

  // контейнер внутри header
  .container {
    @include flex(space-between, center);
  }

  // само лого
  &__logo {
    font-size: var(--nav-logo-font-size);
    font-family: var(--titles-font);
    text-transform: uppercase;
    margin-right: 15px;
    cursor: pointer;
  }

  // контейнер с навиг. меню и лого, общие стили
  &__btns-container {
    --max-width: calc(var(--nav-btn-container-side-padding) + var(--nav-btns-container-size));
    @include width(100%, var(--max-width));
    padding: 0 var(--nav-btn-container-side-padding);
  }

  // контейнер с навиг. меню
  &__nav {
    text-wrap: nowrap;
    @include flex(space-between);
    padding-left: 0;

    li {
      transition: 0.3s;
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 5px);
        width: 0;
        left: 50%;
        display: block;
        transform: translate(-50%, 0);
        background-color: var(--primary-color);
        height: 1px;
        transition: 0.3s;
      }

      &:hover {
        color: var(--primary-color);

        &::after {
          width: 100%;
        }
      }
    }
  }

  // контейнер для лого
  &__icons {
    --max-width: calc(var(--nav-btns-container-size));
    --nav-btn-container-side-padding: 52.55px;
    @include flex(center);

    .icons-container {
      @include flex(space-between);
      width: 100%;

      &__logo {
        width: var(--header-icons-size);
        height: var(--header-icons-size);
        background-color: var(--grey);
        cursor: pointer;
      }
    }
  }
}
