@import "@/src/app/shortClasses.scss";

// Slider setup

.swiper {
  width: 100%;
  max-height: 100dvh;
}

// Slide setup

.swiper-slide {
  /* Center slide text vertically */
  @include flex(center, center);

  text-align: center;
  font-size: 18px;
  background: var(--white-half);

  a {
    position: relative;
    width: 100%;
  }

  img {
    display: block;
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
  }

  .slideTitleBox {
    max-width: 1390px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      max-width: 600px;
      font-size: 96px;
      width: fit-content;
      font-family: "Dela Gothic One", sans-serif;
      text-align: left;
      color: var(--white-half);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 3%;
        transform: translate(0, -50%);
        width: 60%;
        height: 80%;
        background-color: var(--black);
      }
    }
  }
}

// Pagination "White-Dots" setup

.whiteDots .swiper-pagination-fraction,
.whiteDots .swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets .swiper-pagination-horizontal {
  @include flex(flex-start, center);

  --container-top-padding: 0;
  --container-side-padding: 15px;
  --container-width: calc(var(--container-side-padding) * 2 + 1390px);

  bottom: var(--swiper-pagination-bottom, 130px);
  top: var(--swiper-pagination-top, auto);
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: var(--container-width);
  padding: var(--container-top-padding) var(--container-side-padding);
  gap: 25px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  border: 1px solid var(--white-half);
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--white-half);
  border: 1px solid var(--white-half);
  width: 25px;
  height: 25px;
}
