@import "./shortClasses.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /*! COLORS */
  --black: #1e1e1e;
  --black-half: #1e1e1e75;
  --main-primary-color: #ec642b;
  --primary-color: #ed772f;
  --sub-primary-color: #ef9335;
  --grey: #afac95;
  --white-half: #e3e7d9;
  --white: #fff;
  --side-menu-backdrop-color: #1e1e1e70;

  --separator-border: 1px solid var(--white-half);

  /*! FONTS */
  --page-font: "Montserrat";
  --titles-font: "Dela Gothic One";
}

::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--white-half);
}

body {
  background-color: var(--black);
  font-family: var(--page-font);
  color: var(--white-half);
}

main {
  min-height: 100dvh;
  background: url("../../public/bg.webp") repeat-y 0 0;
  background-size: 100% auto;

  & > .container,
  & > .flex-container {
    padding-top: 50px;
  }
}

ul {
  list-style: none;
}

@mixin container {
  --container-top-padding: 0;
  --container-side-padding: 15px;
  --container-width: calc(var(--container-side-padding) * 2 + 1390px);

  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: var(--container-top-padding) var(--container-side-padding);
}

.container {
  @include container();
}

.flex-container {
  @include flex(space-between, flex-start);
  @include container();
  @include f-direction(column);
}

.gap {
  &-60 {
    gap: 60px;
  }

  &-30 {
    gap: 30px;
  }
}

@include max-w-media(991px) {
  .gap {
    &-60 {
      gap: 45px;
    }

    &-30 {
      gap: 25px;
    }
  }
}

.separate-line {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--white-half);
  outline: none;
  border: none;
  left: 50%;
  transform: translateX(-50%);
}

.page-loader {
  position: fixed;
  z-index: -10;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: 0.3s;
  width: 100%;
  height: 100dvh;
  background: var(--black);
  color: var(--grey);
  @include flex(center, center);

  &.show {
    z-index: 99;
    opacity: 1;
    visibility: visible;
  }
}

@mixin section-title {
  --section-title-font-size: 54px;
  --underline-height: 3px;
  --underline-max-width: 272px;
  --underline-indent: 10px;

  font-size: var(--section-title-font-size);

  hr {
    position: absolute;
    left: 0;
    max-width: var(--underline-max-width);
    border: none;
    outline: none;
    height: var(--underline-height);
    bottom: 0;
    background-color: var(--main-primary-color);
  }

  @include max-w-media(991px) {
    --section-title-font-size: 28px;
    --underline-height: 1px;
    --underline-max-width: 140px;
    --underline-indent: 10px;
  }
}

.underlined-title {
  @include section-title;
  font-family: var(--titles-font);
  position: relative;
  padding-bottom: var(--underline-indent);
}

.sub-title {
  font-family: var(--page-font);
  color: var(--white-half);
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: var(--white-half);

  &:hover {
    color: var(--white);
  }
}

/* класс кнопки для обнуления дефолтных стилей кнопки */
@mixin btn {
  /* по дефолту кнопка будет выглядеть как кнопка btn-main-primary */
  --width: 350px;
  --height: auto;
  --padding: 21.5px 20px;
  --font-size: 24px;
  --text-color: var(--black);
  --hover-bg-color: var(--sub-primary-color);
  --hover-text-color: var(--text-color);

  --focus-bg-color: var(--primary-color);
  --focus-text-color: var(--text-color);

  --transition-time: 0.3s;
  --bg-color: var(--main-primary-color);
  --border: none;
  --box-shadow: none;

  @include width(100%, var(--width));
  height: var(--height);
  box-shadow: var(--box-shadow);
  transition: var(--transition-time);
  color: var(--text-color);
  padding: var(--padding);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  border: var(--border);
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
  }

  &:focus {
    background-color: var(--focus-bg-color);
    color: var(--focus-text-color);
  }
}

.btn-scroll-up {
  @include btn;
  --padding: 0;
  --text-color: var(--white-half);
  --border: 1px solid var(--white-half);
  --width: 60px;
  --height: 60px;

  --hover-bg-color: var(--black);
  --hover-text-color: var(--white);
  --focus-bg-color: var(--black-half);

  --bg-color: var(--black-half);

  position: fixed;
  z-index: 9;
  right: 20px;
  bottom: 20px;
  visibility: hidden;
  opacity: 0;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  @include max-w-media(991px) {
    --width: 52px;
    --height: 52px;
    --font-size: 22px;
  }
}

.btn-close {
  @include btn;

  --width: min-content;
  --padding: 0;
  --font-size: 36px;
  --text-color: var(--white);
  --hover-bg-color: none;
  --hover-text-color: var(--primary-color);

  --focus-bg-color: none;
  --focus-text-color: var(--text-color);

  --transition-time: 0.3s;
  --bg-color: transparent;
}

@include max-w-media(991px) {
  /* допустим вот адаптация под мобилку */
  .btn-main-primary {
    --width: none;
    --padding: 15px;
    --fong-size: 20px;
  }
}

.btn-box {
  @include flex(flex-start, center);
  @include f-direction(row);
  gap: 20px;
  padding: 10px;
}

.btn-icons {
  @include btn();
  @include flex(center, center);
  padding: 0;
  border: 1px solid var(--white-half);
  width: 50px;
  height: 50px;

  --hover-bg-color: var(--black);
  --focus-bg-color: var(--black-half);

  --bg-color: var(--black-half);
}
