@import "@/src/app/shortClasses.scss";

@media screen and (max-width: 991px) {
  .footer {
    --nav-logo-font-size: 36px;

    --footer-icons-size: 24px;

    &-nav {
      flex-direction: column;
      align-items: start;

      &__links {
        display: flex;
        flex-direction: column;
        font-weight: 300;
        gap: 15px;
      }

      &-pages-container {
        @include flex(space-between);
        @include width(100%, 243px);

        div {
          gap: 20px;
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
        }
      }

      &__logo {
        padding-bottom: 30px;
        margin-bottom: 30px;
        width: 100%;
        position: relative;
      }

      &__pages-nav {
        flex-direction: column;
        font-weight: 200;
        gap: 15px;
      }
    }
    &-copyrights {
      flex-direction: column-reverse;
      align-items: start;
      gap: 16.5px;
    }

    .icons-container {
      max-width: 140px;

      .icons-container__logo img {
        width: var(--footer-icons-size);
        height: var(--footer-icons-size);
      }
    }
  }
}
