@import "@/src/app/shortClasses.scss";

main {
  @include flex(center, center);
  @include f-direction(column);

  .flex-container {
    padding-top: 0;
    align-items: center;
  }
}

.btn-primary {
  @include flex(space-between);

  span {
    align-self: center;
  }
}

.content-wrapper {
  @include width(100%, 810px);
  padding: 30px;
  text-align: center;
  font-size: 48px;
  @include flex(center);
  @include f-direction(column);
  gap: 30px;

  p:last-child {
    font-size: 32px;
  }

  @include max-w-media(991px) {
    font-size: 32px;

    p:last-child {
      font-size: 22px;
    }
  }
}
